.ui.header.bbs-index-header {
  font-family: "din-2014",helvetica,sans-serif;
  color: #000;
  font-weight: 700px;
  font-size: 14px;
}
a {
    font-family: "din-2014",helvetica,sans-serif;
    color: #000;
    font-weight: 700px;
    font-size: 14px;
}
